<!DOCTYPE html>
<html>
  <form action="/square/result">
    
    <div>
    <label for="square">
    Enter a number
    </label>
    </div>
    
    <div>
    <input id="square" type="text" placeholder="what number do you want to square?" name="input_num">
    </div>

    <div>
    <button>
    Calculate square
    </button>
    </div>
  
  </form>
</html>
