<h1> Square Results </h1>

<dl>
  <dt> Number </dt>
  <dd><%= @input %></dd>
  <dt> Square </dt>
  <dd><%= @squared_input %></dd>
</dl>

<div>
    <a href="/square/new"> Calculate another square </a>
</div>
